:root{
    --red: #e3646e;
    --purple: #bb72e9;
    --blue: #3996db;
    --green: #82bc4f;
    --yellow: #eabd5f;

    --gray-100: #0d0e11;
    --gray-200: #16181d;
    --gray-300: #292c34;
    --gray-400: #878ea1;
    --gray-500: #c0c4ce;
    --gray-600: #e2e4e9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--gray-200);
}

header{
    background-image: url(/assets/Background_Intro.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.avatar{
    width: 120px;
    height: 120px;
    position: relative;

    border-radius: 9999%;
    border:  2px solid var(--red);

    margin-bottom: 56px;


    background-image: url(https://avatars.githubusercontent.com/u/26885121?v=4);
    background-repeat: no-repeat;
    background-size: cover;
}

.avatar div{
    position: absolute;
    bottom: -18px;
    right: 0;
}

.down{
    position: absolute;
    bottom: 57px;
}

.info{
    max-width: 980px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 80px;
}

.text p{
    color: var(--gray-500);
    font-size: 20px;
    line-height: 120%;

    font-family: "Inconsolata" ,sans-serif;
}

.text p span{
    color: var(--red);
    font-family: "Inconsolata" ,sans-serif;
    font-size: 20px;
}

.text h1{
    color: var(--gray-600);
    font-size: 56px;
    font-weight: 700;
    line-height: 120%;

    font-family: "Asap", sans-serif;
}

.text span{
    color: var(--gray-400);
    font-size: 14px;
    line-height: 140%;
    text-align: center;
    font-family: "Maven Pro", sans-serif;

    max-width: 700px;
}

.tags{
    width: 800px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.tag{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    gap: 8px;

    background-color: var(--gray-300);
    border-radius: 999px;
}

.tag span{
    font-family: "Maven Pro", sans-serif;
    color: var(--gray-500);
    line-height: 140%;
}

.projetos{
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;

    align-items: center;
    
}

.top{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    margin-top: 72px;
}

.top span{
    color: var(--red);
    font-size: 20px;
    font-family: "Inconsolata", sans-serif;
    line-height: 120%;
    text-align: center;
}

.top h2{
    color: var(--gray-600);

    font-family: "Asap" ,sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
}

.box{
    display: flex;
    flex-direction: column;
    gap: 56px;
}

.grid{
    width: 1090px ;

    display: flex;
   justify-content: center;

    flex-wrap: wrap;
    gap: 24px;
}

.card{
    width: 330px;
    height: 280px;

    padding: 12px;
    border-radius: 12px;

    background-color: var(--gray-300);

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.img{
    width: 306px;
    height: 156px;

    border: none;
    border-radius: 8px;
    background-color: #878ea1;
}

.card div p{
    color: var(--gray-600);
    font-weight: 700;
    font-family: "Asap" , sans-serif;
    line-height: 120%;

    margin-bottom: 8px;
}

.card div span{
    color: var(--gray-500);

    font-family: "Maven Pro" , sans-serif;
    font-size: 14px;
    line-height: 140%;
}

.card:hover{
    border: 1.5px solid var(--gray-400);
}

.servicos{
    width: 100%;
    height: 480px;

    padding: 88px;
    background-color: var(--gray-100);
}

.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 56px;
}

.grid{  
    display: flex;
    gap: 24px;

}

.cardService{
    width: 280px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 20px;

    border-radius: 12px;
    border: 2px solid var(--gray-200);
}

.cardService img{
    width: 48px;
    height: 48px;
}

.cardService div p{
    color: var(--gray-600);
    font-family: "Asap" , sans-serif;
    font-weight: 700;
    line-height: 120%;
}

.cardService div span{
    font-size: 14px;
    font-family: "Maven Pro", sans-serif;
    line-height: 140%;

    color: var(--gray-500);
    margin-top: 8px;
}

footer{
    width: 100%;
    height: 100vh;

    background-image: url(/assets/Background_Contacts.png);
    background-repeat: no-repeat;
    background-size: cover;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

.footerText {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.footerText p{
    color: var(--purple);

    font-family: "Inconsolata", sans-serif;
    font-size: 20px;
    line-height: 120%;
}

.footerText h2{
    color:  var(--gray-600);
    font-size: 24px;
    font-family: "Asap", sans-serif;
    font-weight: 700;
    line-height: 120%;
}

.footerText span{
    color: var(--gray-500);
    font-family: "Maven Pro", sans-serif;
    line-height: 140%;
}

.contact{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.contact div{
    width: 400px;
    padding: 20px;
    position: relative;

    display: flex;
    align-items: center;
    gap: 12px;

    border-radius: 8px;
    background-color: var(--gray-300);
}

.contact div p{
    color: var(--gray-500);
    font-family: "Maven Pro", sans-serif;
    font-weight: 500;
    line-height: 140%;
}

.left{
    position: absolute;
    right: 20px;
}

.contact div:hover{
    border: 1.5px solid var(--blue);
}
